.wrapper {
  height: var(--defaultLayoutHeaderHeight);
  display: flex;
  justify-content: center;
  border: 2px solid #ccc;
  width: 100%;
  padding: 6px;
}

.inner {
  height: 100%;
  width: var(--defaultLayoutWidth);
  display: flex;
  justify-content: space-between;
}
.searchResult {
  width: 361px;
}
.search {
  padding-left: 16px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  color: rgb(22, 24, 35);
  display: flex;
  justify-content: center;
  width: 361px;
  input {
    font-size: 1.3em;
    line-height: 21px;
    background: transparent;
    padding: 0px;
    width: 80%;
    color: rgb(22, 24, 35);
    caret-color: rgb(254, 44, 85);
    appearance: textfield;
  }
  &:focus-within {
    border: 1px solid rgba(22, 24, 35, 0.16);
  }
}

.closeButton {
  background: transparent;
  width: 40px;
  height: 100%;
}

.searchButton {
  background: transparent;
  width: 52px;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;
  height: 100%;
  font-size: 2rem;
}
.searchButton:hover {
  cursor: pointer;
  background-color: rgba(22, 24, 35, 0.12);
}

.accountContainer {
  display: flex;
  flex-direction: column;
}

.action {
    display: flex;
    justify-content: space-between;
}

.uploadButton{
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 16px;
    border-radius: 5px;  
    background-color: white;
    border: 1px solid rgba(22, 24, 35, 0.12);
}
.uploadButton:hover {
    background-color: rgba(22, 24, 35, 0.12);
}
.loginButton{
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 16px;
    border-radius: 5px;  
    background-color: var(--primary);
    color: white;
    margin: 0px 25px;
} 
.loginButton:hover {
    background-color: #c62545;
}
